header{
    text-align: center;
    height: 15vh;
    
     
  }

  header h3{
    text-align: left;
  }
  
  main{
    height: 75vh;
    text-align: justify;
    
  
  }

  section{
    margin: 2em 7em;
    
  }
  
  aside{
    width: 180px;
    border: 1px solid black;
    float:right;
    margin-top: 10.6em;
    text-align: center;
  }
  
  footer{
    background-color: black;
    color: white;
    
    height: 10vh;
  }
  
  button{
    background-color: black;
    color: white;
    font-family: serif;

  }

  button:active{
    color:black;
    background-color: white;
    
  }

  aside:active{
    background-color: black;
    color:white
  }
  button:hover{
    background-color: red;
  }